<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
    <!-- Botón de Home -->
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor del formulario con borde colorido -->
  <div class="form-container">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="user.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="user.username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select [(ngModel)]="user.role">
        <ion-select-option value="admin">Admin</ion-select-option>
        <ion-select-option value="user">User</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-button expand="full" (click)="updateUser()">Actualizar</ion-button>
  </div>
</ion-content>
