<!--<ion-header>
    <ion-toolbar>
      <ion-title>Agregar Usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Rol</ion-label>
      <ion-select [(ngModel)]="role">
        <ion-select-option value="user">Usuario</ion-select-option>
        <ion-select-option value="admin">Administrador</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-button expand="full" (click)="addUser()">Agregar</ion-button>
  </ion-content>-->
  