<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Iniciar Sesión</strong>

    <div id="form-container">
      <ion-input
        class="custom-input"
        type="text"
        placeholder="Usuario"
        [(ngModel)]="user"
      ></ion-input>

      <ion-input
        class="custom-input"
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
      ></ion-input>

      <ion-button
        class="custom-button"
        [disabled]="!user || !password"
        (click)="login()"
      >
        Iniciar Sesión
      </ion-button>

      <ion-button
        class="custom-button"
        (click)="goToRegister()"
      >
        Registrarse
      </ion-button>
    </div>
  </div>
</ion-content>