#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

strong {
  font-size: 32px; /* Aumenta el tamaño de la fuente */
  text-align: center; /* Centra el texto */
  color: #ff4fe8 ; /* Color del texto */
  margin-top: 20px;
}


// #a53896;  , #ff77ed;